.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/about/about-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.jpg);
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: #d1d1d1;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 32px;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.about-bottom-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #d7b871;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 416px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;
}
