.faq-section {
  padding-top: 72px;
  padding-bottom: 72px;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title-wrapper {
  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 62px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    width: 100%;
    max-width: 640px;
  }
}

.faq-list-item {
  border-bottom: 1px solid #907b60;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #d7b871;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #d1d1d1;
  max-width: 319px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 20px;
    max-width: 616px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-img {
  @include media(desktop) {
    min-width: 386px;
  }
}
