.features-section {
}

.features-bg-wrapper {
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/features/features-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.jpg);
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: #d1d1d1;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 32px;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.features-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
  }
}

.features-icon {
  min-width: 24px;
}

.features-item-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #d7b871;

  @include media(desktop) {
    font-size: 20px;
  }
}
