.gallery-section {
  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/gallery/gallery-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-image: url(../img/gallery/gallery-bg-desk.jpg);
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-title-wrapper {
  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 416px;
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
