.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 398px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 99px;
    padding-bottom: 137px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Garamond', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.96;
  background: linear-gradient(90deg, #d7b871 41.9%, rgba(0, 0, 0, 0.2) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.55;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 42px;
    opacity: 0.35;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 83px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.hero-text {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  color: #d1d1d1;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 32px;
    max-width: 489px;
    margin-bottom: 48px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5eccd;
  border-radius: 8px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #948161;

    .her-btn-top-text {
      color: #ebebeb;
    }

    .her-btn-bottom-text {
      color: #ebebeb;
    }
  }

  @include media(desktop) {
    max-width: 240px;
    margin: 0;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #122815;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #122815;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
