<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="section-title-wrapper">
        <h2 class="section-title about-title">Game Essence</h2>
        <picture>
          <source
            srcset="./img/about/line-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="24" />
          <source srcset="./img/about/line-mob.png" width="343" height="20" />
          <img
            class="section-line-img"
            src="./img/about/line-mob.png"
            alt="Line"
            width="343"
            height="20"
        /></picture>
      </div>
      <p class="about-text">
        The puzzles really reward you for paying attention to the little details
        and thinking ahead - like, you can't just wing it Each level presents a
        clear objective but multiple ways to reach it, allowing players to
        develop their own approach.
      </p>
      <p class="about-bottom-text">
        You'll feel like you're actually getting somewhere with each level,
        whether you've got 5 minutes or an hour to play.
      </p>
      <picture>
        <source
          srcset="./img/about/about-img-desk.png"
          media="(min-width: 1440px)"
          width="1096"
          height="991" />
        <source
          srcset="./img/about/about-img-mob.png"
          width="343"
          height="310" />
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="310"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
