<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="section-title-wrapper">
          <h2 class="section-title contact-title">Support & Feedback</h2>
          <picture>
            <source
              srcset="./img/about/line-desk.png"
              media="(min-width: 1440px)"
              width="416"
              height="24" />
            <source srcset="./img/about/line-mob.png" width="343" height="20" />
            <img
              class="section-line-img"
              src="./img/about/line-mob.png"
              alt="Line"
              width="343"
              height="20"
          /></picture>
        </div>
        <p class="contact-text">For questions or assistance:</p>
        <a href="mailto:info@groweno.site" class="contact-link">
          <span class="contact-btn-span">info@groweno.site</span>
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
