<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <div class="section-title-wrapper faq-title-wrapper">
      <h2 class="section-title faq-title">Common Questions</h2>
      <picture>
        <source
          srcset="./img/about/line-desk.png"
          media="(min-width: 1440px)"
          width="416"
          height="24" />
        <source srcset="./img/about/line-mob.png" width="343" height="20" />
        <img
          class="section-line-img"
          src="./img/about/line-mob.png"
          alt="Line"
          width="343"
          height="20"
      /></picture>
    </div>
    <div class="faq-content-wrapper">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Is this game more relaxing or challenging?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-caret"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            It’s both — calm in pace, challenging in thinking.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do I need prior experience with logic games?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-caret"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            No. The game teaches mechanics step by step.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are levels timed?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-caret"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            No. Players are encouraged to think without pressure.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Does difficulty increase?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-caret"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, complexity grows gradually as new mechanics appear.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I play offline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-caret"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">Yes, the core gameplay works offline.</p>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/faq/faq-img-desk.png"
          media="(min-width: 1440px)"
          width="386"
          height="356" />
        <source srcset="./img/faq/faq-img-mob.png" width="343" height="316" />
        <img
          class="faq-img"
          src="./img/faq/faq-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="316"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
