<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="section-title-wrapper">
        <h2 class="section-title features-title">What Makes It Click</h2>
        <picture>
          <source
            srcset="./img/about/line-desk.png"
            media="(min-width: 1440px)"
            width="416"
            height="24" />
          <source srcset="./img/about/line-mob.png" width="343" height="20" />
          <img
            class="section-line-img"
            src="./img/about/line-mob.png"
            alt="Line"
            width="343"
            height="20"
        /></picture>
      </div>
      <p class="features-text">
        It hits that sweet spot where it's challenging enough to keep you hooked
        without making you want to throw your phone
      </p>
      <picture>
        <source
          srcset="./img/features/features-img-desk.png"
          media="(min-width: 1440px)"
          width="640"
          height="282" />
        <source
          srcset="./img/features/features-img-mob.png"
          width="343"
          height="151" />
        <img
          class="features-img"
          src="./img/features/features-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="151"
          loading="lazy"
      /></picture>
      <ul class="features-list">
        <li class="features-list-item">
          <svg class="features-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">
            No timers, no rushing - just pure puzzle-solving at your own pace.
          </p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">
            New mechanics get introduced as you go, so the puzzles never get
            stale
          </p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">
            The interface is pretty minimal - we didn't want a bunch of clutter
            messing with your focus
          </p>
        </li>
        <li class="features-list-item">
          <svg class="features-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">
            The levels really make you think ahead and plan your moves carefully
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
