<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-main-title">
        Think ahead.<br />
        Solve with confidence.
      </h1>
      <picture>
        <source
          srcset="./img/hero/hero-img-desk.png"
          media="(min-width: 1440px)"
          width="732"
          height="200" />
        <source srcset="./img/hero/hero-img-mob.png" width="343" height="94" />
        <img
          class="hero-img"
          src="./img/hero/hero-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="94"
      /></picture>
      <p class="hero-text">
        A relaxing logic game designed to sharpen your mind one move at a time.
      </p>
      <a
        class="hero-btn"
        href="https://play.google.com/store/apps/details?id=com.vivion.sinofoz.gl&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="playstore-icon" width="30" height="34">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="hero-btn-text-wrapper">
          <p class="her-btn-top-text">GET IT ON</p>
          <p class="her-btn-bottom-text">Google Play</p>
        </div>
      </a>
    </div>
  </div>
</section>
